.emptyCart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin:1em;
}


.checkoutPart{
    margin: 10px ;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width:800px){
    .checkoutPart{
          display: block;
    }
  
   .checkoutPrice{
    position: static !important;
  
   }
  
}
 .checkoutElements{
    display: flex;
    flex-direction: column;
   
    flex: 0.6;
    
}

.payLogo{
    height: 4em;
    width:4em;
    border-radius: 50%;  
}

.checkoutPrice{
    padding: 10px;
    margin-top: 2em;
    border: 2px solid rgb(162, 153, 153);
    border-radius: 6%;
    width:22em;
    max-width: 100%;
    
    height: fit-content;    
    text-align: center;
}

.checkoutPrice h3{
    text-decoration: underline;
    margin: 10px auto;
    font-style: italic;
    color:green
}

.charges{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.charges h4{
   font-style: oblique;
   color: rgb(89, 84, 84);
}

.finalPrice{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    background-color: beige;
    border-radius:20px ;
    border-top: 2px solid black;
    
}


