.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  width: 100%;
  box-shadow: 5px 5px 10px rgb(117, 112, 112);
  border-radius: 2%;
}
.product > img {
  max-height: 150px;
  object-fit: contain;
}
.productInfo {
  height: 100px;
  margin-bottom: 15px;
}
.productPrice {
  margin-top: 15px;
  font-weight: 600;
}
.productRating {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-weight: bold;
  color: orange;
}

.product > button {
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 10px;
  border: 1px solid black;
  outline: 0;
  background-color: rgb(165, 42, 42);
  color: white;
}
.product > button:active {
  transform: scale(0.8);
}
